@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: "PP Neue Montreal Regular";
    src: url("../assets/fonts/PPNeueMontreal-Regular.woff") format("woff");
}
    
@font-face {
    font-family: "PP Neue Montreal Bold";
    src: url("../assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
    
@font-face {
    font-family: "PP Neue Montreal Medium";
    src: url("../assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    opacity: 70%; 
}

/*variables*/
:root{ 
    --c-bg-orange: #ff5f61;
    --c-bg-pink: #ff4fb2;
    --c-primary: #000;
    --c-secondary: #FFF8F8;
    --c-tertiary: #FFE2E2;
}

body{
    /*background: rgb(236,106,32);
    background: linear-gradient(180deg, rgba(236,106,32,1) 0%, rgba(255,57,129,1) 100%);*/

    background: rgb(255,95,97);
    background: linear-gradient(180deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PP Neue Montreal Regular";
    color: var(--c-primary);
}


/*TITLES*/
.title--big{
    font-size: 28px;
    font-family: "PP Neue Montreal Medium";
    line-height: 1.2;
}

.title--medium{
    font-size: 22px;
}

.title--little{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8.5px;
}

.p--big{
    font-family: "PP Neue Montreal Bold";
}

.p--medium{
    font-family: "PP Neue Montreal Medium";
}

.p--list{
    margin-bottom: 8.5px;
} 



/*IMG / ICONS / LOGO*/
img{
    overflow: hidden; //même si l'img sort du viewport, le scroll ne s'affiche pas 
}

.img--round{
    border-radius: 65px;
}


.img--mockup{
    width: 200px;
    margin: 0 auto;
    border: 6px solid var(--c-primary);
    border-radius: 25px;
}

.img__content{
    width: 100%;
}

.img__caption{
    font-size: 14px;
    text-align: center;
    padding-top: 8.5px;
    margin-bottom: 51px;
    font-family: "PP Neue Montreal Medium";
}



.section__img{
    text-align: center;
}

/*case-study*/
.section__img-content{
    width: 100%;
}

/*img horizontal scroll*/
.content__scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 119px;
    margin-top: 40px;
}

.img__content-scroll{
    background-color: var(--c-secondary);
    width: auto;
    height: 30vh;
    margin: 17px;
    border: 1px solid var(--c-bg-orange);
    border-radius: 25px;
}
/*****/

.section__img--circle{
    background-image: url(../assets/images/vector-circle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.logo{
    width: 300px;
}

.logo:hover .logo--circle{
    /*fill: var(--c-bg-orange);*/
    /*stroke: var(--c-secondary);
    stroke-width: 3px;*/
    border: 3px;
    transition: ease 0.5s;
    transform: translateY(50px);
}

.logo--circle{
    transition: ease 0.5s;
}



/*LINKS*/
.link{
    color: var(--c-primary);
    text-decoration: none;
    font-family: "PP Neue Montreal Medium";
}

.link--active{
    font-family: "PP Neue Montreal Bold";
}

.link--hover:hover{
    border-bottom: 1.5px solid var(--c-primary);
}

.link--caption{
    font-family: "PP Neue Montreal Bold";
}


/*SECTIONS*/
.header{
    margin-top: 68px;
    margin-bottom: 0;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section, .footer{
    margin-top: 119px;
    margin-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;
}

.credits{
    text-align: center;
    padding-top: 119px;

    .link:hover{
        border-bottom: 1px solid var(--c-primary);
    }
}


.section__intro{
    margin-top: 0;
    padding-top: 85px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;


    .title--big{
        margin-bottom: 34px;
    }

    p{
        margin-bottom: 51px;
    }

    .img--round{
        margin: 0 auto;
        display: block;
    }

}




.section__benefits{
    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: var(--c-secondary);
    color: var(--c-primary);
    text-align: center;


    .title--big{
        font-family: "PP Neue Montreal Bold";
        margin-bottom: 34px;
    }

    .p--big{
        margin-bottom: 34px;
    }

    img{
        margin-top: 85px;
        margin-bottom: 85px;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
}


.section__callToAction{
    margin: 0 auto;
    max-width: 1200px;

    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    .img--mockup:before{
        content: "";
        position: absolute;
        width: 453px;
        height: 453px;
        left: 707px;
        top: 2056px;

        background: linear-gradient(180deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);
        border: 1px solid rgba(255, 248, 248, 0.25);
    }

    .img--mockup{
        transform: rotate(9deg);
    }

    .p--big{
        margin-top: 51px;
        text-align: center;
    }
}


.section__features{  
    background-color: var(--c-tertiary);
    color: var(--c-primary);

    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    .title--little{
        margin-top: 51px;
    }

    .img--mockup{
        transform: rotate(-9deg);
    }
}


.section__socialProof, .section__callToAction2{
    text-align: center;
}


.section__callToAction2{
    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    background-color: var(--c-secondary);
    color: var(--c-primary);

    .p--big{
        margin-bottom: 34px;
    }

    .img--round{
        margin: 0 auto;
        display: block;
        max-width: 300px;
        margin-bottom: 51px;
    }
}


.btn-container :nth-child(2){
    margin-left: 17px;
}

.btn-container{
    img{
        height: 42px;
    }

    a{
        color: var(--c-tertiary);
    }
}




.footer{
    margin-top: 51px;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__el{
        list-style: none;
    }

    &__ul2{
        margin-top: 34px;
        padding-top: 34px;
        border-top: 1px solid var(--c-primary);
    }
}


/*CASE STUDY*/
.header__cs, .footer__cs{
    margin-top: 0;
    padding-top: 68px;
    padding-bottom: 68px;
    background: rgb(255,95,97);
    background: linear-gradient(180deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer__cs{
    margin-bottom: 0;
}

.body--white{
    background: var(--c-secondary);
}

.section__cs{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .title--big{
        margin-bottom: 34px;
    }

    .title--medium{
        margin-bottom: 17px;
    }

    .p--big, p{
        margin-bottom: 34px;
    }  
}

.section__cs--intro{
    margin-top: 85px;
}

.section__cs--professionnels{
    margin-bottom: 0;
    background-color: #ff8182;
    padding-top: 51px;
    padding-bottom: 51px;
    border-radius: 25px 0 25px 0;
}


.section__cs--white{
    background-color: var(--c-tertiary);
    padding-top: 51px;
    padding-bottom: 51px;

    margin-bottom: 51px;
    padding-left: 34px;
    padding-right: 34px;

    border-radius: 25px;
    margin-left: 17px;
    margin-right: 17px;

    .p--big{
        margin-top: 0;
    }
}



.section__cs--entretiens {
    padding-top: 51px;
    padding-bottom: 51px;

    margin-bottom: 51px;
    padding-left: 34px;
    padding-right: 34px;

    p{
        margin-top: 51px;
    }
}

.section__cs--pivot{
    .p--big{
        margin-top: 51px;
    }
}


.section__cs--pivot-conclu{
    background-color: #FFE2E2;
    margin: 0;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 51px;
    padding-bottom: 51px;

    border-radius: 0 25px 0 25px;

    .p--big{
        margin-bottom: 34px;
    }
}


.section__cs--stat{
    .list{
        margin-bottom: 51px;
    }

    .img__content-scroll{
        height: 45vh;
    }
}

.section__cs--contenuApp{
    background-color: #ff79c4;
    margin: 0;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 119px;
    padding-bottom: 119px;

    border-radius: 0 0 25px 25px;

    .p--list{
        margin-top: 51px;
    }

    .list{
        margin-bottom: 51px;
    }

    .img__content{
        width: 100%;
    }
}


.section__cs--mvp{
    .img__content-scroll{
        height: 60vh;
        border: 1px solid var(--c-primary);
        border-radius: 12px;
    }

    /*.slideshow__container{
        position: relative;
        margin: auto;
        width: 100%;
    }

    .slideshow__slides{
        background: linear-gradient(90deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);
        padding: 17px;
        border-radius: 25px;

        p{
            margin-bottom: 85px;
        }
    }

    .slideshow__prev, .slideshow__next{
        top: 77%;
        color: var(--c-primary);
    }*/
}

/*.slideshow__prev, .slideshow__next{
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--c-primary);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow__prev{
    left: 2px;
}

.slideshow__next{
    right: 2px;
}

.hide{
    display: none;
}*/


.section__cs--identite{
    .p--list, .list__el{
        margin-bottom: 8.5px;
    } 

    .title--little{
        margin-top: 51px;
    }

    .img__content{
        width: 100%;
    }

    .span{
        font-family: "PP Neue Montreal Bold";
    }
}


.section__cs--identite2{
    .img__content{
        width: 100%;
    }

    background-color: #FFE2E2;
    border-radius: 25px 0 0 0;

    margin: 0;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 119px;
    padding-bottom: 119px;

    .content__scroll{
        margin-bottom: 0;
    }

    .content__scroll .img__content{
        height: 25vh;
        width: auto;
    }

    .content__scroll .img__caption{
        margin-bottom: 17px;
    }
}



.section__cs--prototype{
    .content__scroll .img__content{
        height: 50vh;
        width: auto;
    }

    .img__caption{
        margin-bottom: 17px;
    }
}



.section__cs--ameliorer{
    background-color: var(--c-tertiary);
    padding-top: 119px;
    padding-bottom: 119px;
    margin: 0;
    border-radius: 25px 25px 0 0;
    
    .p--list{
        margin-bottom: 17px;
    }
}




.list{
    list-style-position: outside;

    &__el{
        margin-bottom: 17px;
    }
}



/*DETAILS & SUMMARY*/
summary::marker{
    color: #000;
}

.details__content{
    padding-bottom: 80px;
    background: linear-gradient(90deg, rgba(255,95,97,1) 0%, rgba(255,79,178,1) 100%);
    padding: 20px;
}

.details__content:hover{
    opacity: 85%;
}

.details__content[open]:hover{
    opacity: 100%;
}

.details__title{
    font-weight: 700;
}

.details__content .p--bold{
    margin-top: 36px;
    margin-bottom: 0;

}

.details__content .img{
    margin-top: 20px;
}

.details__content :last-child{
    margin-bottom: 20px;
}

.span__title{
    margin-left: 25px;
}



.details__title{
	cursor: pointer;
	font-size: 17px;
	outline: none;
	border-radius: 0.25rem;
	text-align: left;
	position: relative;
	padding-left: 0px;
    display: block;
}


.details__content{
	border-bottom: 1px solid var(--color-border);
    margin-bottom: 8.5px;
    border-radius: 25px;

    .list{
        margin-top: 17px;
    }
}


.details__title::marker {
	display: none;
}

.details__title::-webkit-details-marker {
    display: none
}

.details__content>.details__title::after {
	position: absolute;
	content: "+";
	left: 0px;
}

.details__content[open]>.details__title::after {
	position: absolute;
	content: "-";
}


.footer__cs{
    margin: 0;
    max-width: 100%;

    padding-left: 34px;
    padding-right: 34px;

    padding-bottom: 119px;
    padding-top: 119px;
}

.footer__ul{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 51px;
    padding-right: 51px;
}


/*DEVICES*/
@media(min-width: 470px){
    .section__img--circle {
        background-size: 370px;
    }
}

/*tablette & desktop*/
@media(min-width: 768px){
    /*TITLES*/
    .title--big{
        font-size: 49px;
        line-height: 1.1;
    }

    .title--medium{
        font-size: 31px;
    }

    .title--little{
        font-size: 25px;
    }

    .p--big{
        font-size: 25px;
        font-family: "PP Neue Montreal Medium";
    }

    .p--list{
        margin-bottom: 12.5px;
    } 


    /*IMG*/
    .img__caption{
        font-size: 20px;
        padding-top: 12.5px;
        margin-bottom: 60px;
    }

    /*SECTIONS*/
    .header{
        margin-top: 120px;
        /*margin-left: 40px;
        margin-bottom: -70px;
        text-align: left;*/   
        
        .logo{
            padding-bottom: 40px;
        }
    }

    .section, .footer{
        margin-top: 120px;
        margin-bottom: 120px;
    }


    .section__intro{
        display: flex;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0;
        margin-top: 60px;

        .title--big{
            margin-bottom: 60px;
            margin-left: 0;
            margin-right: 60px;
        }

        p{
            margin-bottom: 34px;
            margin-right: 60px;
        }
    }


   /*.bg-intro{
        background-image: url(../assets/images/vector.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }*/



    .section__benefits{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;

        .title--big{
            margin-bottom: 60px;
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;
        }

        .p--big{
            width: 500px;
            text-align: center;
            margin: auto;
        }

        img{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }



    .section__callToAction{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;

        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;

        .p--big{
            width: 320px;
            margin-top: 0;
        }

        .img--mockup{
            margin-right: 40px;
        }

        .section__img--circle {
            background-image: none;
        }
    }


    .section__features-container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .section__img{
            margin-left: 60px;
        }

        .title--little{
            margin-top: 60px;
        }
    }

    .section__features--txt{
        margin-left: 160px;

        p{
            max-width: 330px;
        }
    }

    .section__features--txt :first-child{
        margin-top: 0;
    }



    .section__socialProof .p--big{
        width: 700px;
        text-align: center;
        margin: auto;
    }



    .section__callToAction2-container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;

        display: flex;
        align-items: center;

        .p--big{
            margin-bottom: 60px;
            max-width: 410px;
        }

        .img--round{
            margin-left: 34px;
        }
    }

    .section__callToAction2--txt{
        margin-left: 40px;
    }


    /*CASE STUDY*/
    .header__cs, .footer__cs{
        padding-top: 120px;
        padding-bottom: 120px;
    }



    .section__cs{
        max-width: 700px;
        padding-left: 0;
        padding-right: 0;
    
        .title--big{
            margin-bottom: 40px;
        }
    
        .title--medium{
            margin-bottom: 25px;
        }
    
        .p--big, p{
            margin-bottom: 40px;
        }
        
        .p--big{
            font-size: 20px;
            font-family: "PP Neue Montreal Bold";
        }

        .p--medium{
            font-family: "PP Neue Montreal Medium"; 
        }

        .p--list{
            margin-bottom: 12.5px;
        }

        .list__el{
            margin-left: 17px;
        }

        .img__caption{
            font-size: 16px;
        }
    }



    .section__cs--intro{
        margin-top: 120px;
    }



    .section__cs--professionnels{
        margin-bottom: 0;
        background-color: #ff8182;
        padding-top: 120px;
        padding-bottom: 120px;
        border-radius: 25px 0 25px 0;
        max-width: 100%;

        h2, p, ul{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    }



    .section__cs--white{
        max-width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
    
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;
    
        border-radius: 25px;

        margin-left: 20px;
        margin-right: 20px;
    
        .p--big{
            margin-top: 0;
        }

        p, ul{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    }



    .section__cs--entretiens {
        padding-bottom: 120px;
    
        p{
            margin-top: 120px;
        }
    }



    .section__cs--pivot{
        .p--big{
            margin-top: 60px;
        }
    }



    .section__cs--pivot-conclu{
        padding-right: 34px;
        padding-top: 120px;
        padding-bottom: 120px;
    
        border-radius: 0 25px 0 25px;
    
        .p--big{
            margin-bottom: 34px;
        }

        p, ul{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        .p--big{
            font-size: 20px;
            font-family: "PP Neue Montreal Bold";
        }

        .list{
            margin-bottom: 60px;

            &__el{
                margin-left: 17px;
            }
        }
    }



    .section__cs--stat{
        .list{
            margin-bottom: 60px;
        }

        .content__scroll{
            margin-bottom: 60px;
        }
    }



    .section__cs--contenuApp{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 100%;

        h2, h3, p, figure, ul{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    
    
        .p--list{
            margin-top: 60px;
        }
    
        .list{
            margin-bottom: 60px;
        }
    }


    .section__cs--mvp{
        .img__content-scroll{
            height: 80vh;
        }
    }


    .section__cs--identite{
        .p--list, .list__el{
            margin-bottom: 12.5px;
        } 
    
        .title--little{
            margin-top: 60px;
        }

        .img__caption{
            margin-bottom: 120px;
        }
    }
    

    .section__cs--identite2{    
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 120px;
        padding-bottom: 120px;

        max-width: 100%;

    
        .content__scroll .img__caption{
            margin-bottom: 20px;
        }

        p, h3, figure{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        .img__caption{
            margin-bottom: 80px;
        }
    }


    .section__cs--prototype{
        .content__scroll .img__content{
            height: 75vh;
        }
    
        .img__caption{
            margin-bottom: 20px;
        }
    }


    .section__cs--ameliorer{
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 100%;
        
        .p--list{
            margin-bottom: 20px;
        }

        h2, p, ul{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer__cs{
        margin: 0;
        max-width: 100%;


        padding-bottom: 120px;
    }

    .footer__ul{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media(min-width: 768px) and (max-width: 810px){
    .btn-container {
        display: flex;
    }
}

@media(min-width: 524px) and (max-width: 767px){
    .section__intro--txt {
        max-width: 455px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__features--txt {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__benefits .title--big, .section__benefits .p--big {
        max-width: 485px;
        margin-left: auto;
        margin-right: auto;
    }
}