@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: "PP Neue Montreal Regular";
    src: url("../assets/fonts/PPNeueMontreal-Regular.woff") format("woff");
}
    
@font-face {
    font-family: "PP Neue Montreal Bold";
    src: url("../assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
    
@font-face {
    font-family: "PP Neue Montreal Medium";
    src: url("../assets/fonts/PPNeueMontreal-Medium.woff") format("woff");
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--color-primary); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    opacity: 70%; 
}

/*variables*/
:root{ 
    --c-bg-pink: #FF3981;
    --c-bg-orange: #EC6A20;
    --c-primary: #FFF8F8;
    --c-secondary: #000;
    --c-tertiary: #FFE2E2;
    --c-greylight: #E5E5E5;
    --c-greymiddle: #A2A2A2;
    --c-greydark: #5B5B5B;
}

body{
    background: rgb(236,106,32);
    background: linear-gradient(180deg, rgba(236,106,32,1) 0%, rgba(255,57,129,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "PP Neue Montreal";
    color: var(--c-primary);
}


/*TITLES*/
.title--big{
    font-size: 28px;
    font-family: "PP Neue Montreal Medium";
    line-height: 1.2;
}

.title--medium{
    font-size: 22px;
}

.title--little{
    font-size: 17px;
    font-weight: bold;
}

.p--big{
    font-family: "PP Neue Montreal Bold";
}



/*IMG*/
.img--round{
    border-radius: 65px;
}


.img--mockup{
    width: 200px;
    margin: 0 auto;
    border: 6px solid var(--c-secondary);
    border-radius: 25px;
    margin-bottom: 51px;
}



/*SECTIONS*/
.section, footer{
    margin-top: 119px;
    margin-bottom: 119px;
    margin-left: 34px;
    margin-right: 34px;
}

.section__intro{
    height: 100vh;

    .title--big{
        margin-bottom: 34px;
    }

    p{
        margin-bottom: 34px;
    }

    .img--round{
        margin: 0 auto;
        display: block;
    }

    .bg-intro{
        background-image: url(../assets/images/vector.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0;
    }
}


.section__benefits{
    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;
    background-color: var(--c-primary);
    color: var(--c-secondary);
    text-align: center;


    .title--big{
        font-family: "PP Neue Montreal Bold";
        margin-bottom: 34px;
    }

    .p--big{
        margin-bottom: 34px;
    }

    img{
        margin-top: 85px;
        margin-bottom: 85px;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
}


.section__callToAction{
    margin: 0;

    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    .img--mockup:before{
        content: "";
        position: absolute;
        width: 453px;
        height: 453px;
        left: 707px;
        top: 2056px;

        background: linear-gradient(180deg, #EC6A20 0%, #FF3981 100%);
        border: 1px solid rgba(255, 248, 248, 0.25);
    }
}


.section__features{  
    background-color: var(--c-tertiary);
    color: var(--c-secondary);

    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    .title--little{
        margin-top: 34px;
    }
}


.section__socialProof, .section__callToAction2{
    text-align: center;
}


.section__callToAction2{
    margin: 0;
    padding-top: 119px;
    padding-bottom: 119px;
    padding-left: 34px;
    padding-right: 34px;

    background-color: var(--c-primary);
    color: var(--c-secondary);

    .p--big{
        margin-bottom: 34px;
    }

    .img--round{
        margin: 0 auto;
        display: block;
        max-width: 300px;
        margin-bottom: 51px;
    }
}


.btn-container img{
    width: 144px;
}


.footer{
    margin-top: 51px;

    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__el{
        list-style: none;
    }
}